# NAS IP 地址或域名 (必填)
NAS_HOST=192.168.x.x

# SSH 端口号，默认是 22 (必填)
NAS_PORT=22

# 登录 NAS 的用户名，需具有管理员或 Docker 权限 (必填)
NAS_USER=your_username

# 登录 NAS 的密码 (必填)
NAS_PASSWORD=your_password

# Docker 项目的存储根目录，默认为 /volume1/docker (必填)
NAS_DOCKER_DIR=/volume1/docker
